In [ ]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [76]:
import os
from datetime import datetime
import pandas as pd
import re

from  scheduler import scheduler

In [77]:
dataset_path = "./data/job_data/ALL_JOBS.csv.gz"
df = pd.read_csv(dataset_path, compression='gzip')
df.head()

,Job Title,Continent,Country,City,Date,Company,Description,URL,Website,Level,Field,Skills
0,Praktikant:in als Machine Learning Engineer,Europe,Germany,MÃ¼lheim,2025-12-05,U-Glow GmbH,<p>Du willst in einem jungen Tech-Team arbeite...,https://www.arbeitnow.com/jobs/companies/u-glo...,arbeitnow,0.0,Data Science and Artificial Intelligence,"['Python', 'Pytorch', 'Tensorflow']"
1,IT Internal Auditor,Europe,Germany,Berlin,2025-12-05,SumUp,<p>Are you passionate about making an impact t...,https://www.arbeitnow.com/jobs/companies/sumup...,arbeitnow,1.0,Finance and Accounting,['Kind']
2,FP&A Strategy Intern,Europe,Germany,Berlin,2025-12-05,SumUp,<p>Over 4 million merchants use our card reade...,https://www.arbeitnow.com/jobs/companies/sumup...,arbeitnow,0.0,Consulting and Strategy,['Kind']
3,Mid Market Account Executive,Europe,Germany,Munich,2025-12-05,Samsara,"<div class=""content-intro""><p><span style=""fon...",https://www.arbeitnow.com/jobs/companies/samsa...,arbeitnow,1.0,Finance and Accounting,"['C', 'Go']"
4,Account Development Representative,Europe,Germany,Munich,2025-12-05,Samsara,"<div class=""content-intro""><p><span style=""fon...",https://www.arbeitnow.com/jobs/companies/samsa...,arbeitnow,1.0,Sales and Account Management,"['C', 'Go']"

In [78]:
# Parameters
max_old_date = datetime.now().strftime('%Y-%m-%d')
max_pages = 2

In [79]:
scheduler(dataset_path=dataset_path, max_old_date=max_old_date, max_pages=max_pages)

------ STARTING SCRAPING ------
Arbeitnow scrape until: 2025-12-15
Page 1
Page 2
Arbeitnow collected 108 total jobs
Adzuna scrape until: 2025-12-15
ðŸš© United States
WARNING: adzuna scraping failed with status code: 400
ðŸš© United Kingdom
WARNING: adzuna scraping failed with status code: 400
ðŸš© Germany
WARNING: adzuna scraping failed with status code: 400
âœ… Adzuna collected 0 total jobs
------ SCRAPING COMPLETE ------

Extracting skills : 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 108/108 [00:00<00:00, 165.98it/s]
'(ProtocolError('Connection aborted.', RemoteDisconnected('Remote end closed connection without response')), '(Request ID: 82a1bacc-b379-4518-9c4d-86d37467e6fc)')' thrown while requesting HEAD https://huggingface.co/TechWolf/JobBERT-v2/resolve/main/./modules.json
Retrying in 1s [Retry 1/5].

SKILLS EXTRACTED SUCCESFULLY

Processing job titles: 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 108/108 [00:06<00:00, 15.89it/s]

FIELDS AND LEVELS EXTRACTED SUCCESSFULLY

------ MERGING TABLES ------
New jobs: 0

------ SAVING DATASET ------
Compressing ALL_JOBS.csv.gz
Saved: ALL_JOBS.csv.gz

In [75]:
dataset_path = "./data/job_data/ALL_JOBS.csv.gz"
df = pd.read_csv(dataset_path)
df.head()

,Job Title,Continent,Country,City,Date,Company,Description,URL,Website,Level,Field,Skills
0,Praktikant:in als Machine Learning Engineer,Europe,Germany,MÃ¼lheim,2025-12-05,U-Glow GmbH,<p>Du willst in einem jungen Tech-Team arbeite...,https://www.arbeitnow.com/jobs/companies/u-glo...,arbeitnow,0.0,Data Science and Artificial Intelligence,"['Python', 'Pytorch', 'Tensorflow']"
1,IT Internal Auditor,Europe,Germany,Berlin,2025-12-05,SumUp,<p>Are you passionate about making an impact t...,https://www.arbeitnow.com/jobs/companies/sumup...,arbeitnow,1.0,Finance and Accounting,['Kind']
2,FP&A Strategy Intern,Europe,Germany,Berlin,2025-12-05,SumUp,<p>Over 4 million merchants use our card reade...,https://www.arbeitnow.com/jobs/companies/sumup...,arbeitnow,0.0,Consulting and Strategy,['Kind']
3,Mid Market Account Executive,Europe,Germany,Munich,2025-12-05,Samsara,"<div class=""content-intro""><p><span style=""fon...",https://www.arbeitnow.com/jobs/companies/samsa...,arbeitnow,1.0,Finance and Accounting,"['C', 'Go']"
4,Account Development Representative,Europe,Germany,Munich,2025-12-05,Samsara,"<div class=""content-intro""><p><span style=""fon...",https://www.arbeitnow.com/jobs/companies/samsa...,arbeitnow,1.0,Sales and Account Management,"['C', 'Go']"